/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../Images/lakeHome resized.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.slipleasegv{
    background-size:contain;
    background-color:#ffffff;
    opacity:0.8;
    font-size:medium;
    font-weight:700;
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
        margin-left:150px;
        margin-right:150px;
        background-color:rgba(216, 216, 212, 0.88);
        padding-left:20px;
        padding-right:20px;
        
    }

    .body-content {
        padding: 0;
    }
}
